<div id="content">
  <div id="form" class="active-header"> <!-- remove .active-header class form this when u Activate Account -->
    <%= render :partial => '/shared/header' %>
    <div class="menubar">
      <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
      </div>

      <div class="page-title">
        Edit Your Profile
      </div>
    </div>

    <div class="content-wrapper">
      <%= form_for @user, url: dashboard_path(@user.id), method: "PUT", html: { class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">First name</label>
          <div class="col-sm-10 col-md-8">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">Last name</label>
          <div class="col-sm-10 col-md-8">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">Display picture</label>
          <div>
            Upload Image
            <%= f.file_field :picture %>
          </div>
          <div id="imagePreview"></div>
        </div>        
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">Phone number</label>
          <div class="col-sm-10 col-md-8">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>
        
        <div class="address">
          <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Address</label>
            <div class="col-sm-10 col-md-8">
              <%= f.text_field :address, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 col-sm-offset-2">
              <%= f.text_field :city, class: "form-control", placeholder: "City" %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :state, class: "form-control", placeholder: "State" %>
            </div>
            <div class="col-sm-2 col-md-2">
              <%= f.text_field :zip_code, class: "form-control", placeholder: "Zip Code" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 control-label">Date of Birth </label>
          <div class="col-sm-10 col-md-8 col-lg-3">
            <div class="input-group " data-date-format="M dd, yyyy - HH:ii P" data-link-field="dtp_input1">
              <%= f.text_field :dob, class: "form-control", placeholder: "DOB" %>
              <span class="input-group-addon"><i class="fa fa-clock-o "></i></span>
            </div>
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'Save', class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div><!--content-wrapper -->
  </div>
</div><!--#content -->