        <div id="content">
            <div id="users" class="members active-header"> <!-- remove .active-header class form this when u Activate Account -->
      
            <%= render :partial => '/shared/header' %>
      <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
          <i class="ion-navicon"></i>
        </div>
        
        <div class="page-title client-title">
          INJURIES
        </div>
        <form class="search hidden-xs">
          <i class="fa fa-search"></i>
          <input type="text" name="q" placeholder="Search injuries...." />
          <%= autocomplete_field_tag :user_name, '',autocomplete_user_name_dashboards_path %>
          <input type="submit" />
        </form>
        <a href="injury-form.html" class="new-user btn btn-success pull-right">
          <span>Add Injury</span>
        </a>
      </div>

      <div class="content-wrapper">
        <div class="row page-controls">
         
        </div>

        
        <div class="row users-grid">
          
          

          
        </div>
      </div><!--content-wrapper -->
    </div>
    </div><!--#content -->