  <div id="content">
      <div id="user-profile" class="members active-header">
      <%= render :partial => '/shared/header' %>
          <div class="menubar">
              <div class="sidebar-toggler visible-xs">
                  <i class="ion-navicon"></i>
              </div>
              <%= gflash %>
              <div class="page-title injury-titel">
                  <%= current_user.full_name %> Profile
                  <p class="" >Claim Is: <span  style="font-weight:600;">Open</span> <i class="glyphicon glyphicon-pencil claim-pencil"></i></p>
                  <p class="">Status: <span  style="font-weight:600;">Approved</span> <i class="glyphicon glyphicon-pencil status-pencil"></i></p>
                  <p class="">OSHA Recordable? <span  style="font-weight:600;">Yes</span> <i class="glyphicon glyphicon-pencil osha-pencil"></i></p>               
              </div>
              <p style="float:right;">
                <%= link_to 'Edit Profile', edit_dashboard_path(current_user.id), :class => "btn btn-success" %>
             </p>
          </div>

          <div class="content-wrapper clearfix">
              <div class="profile-info">
                  <div class="avatar">
                    <% if current_user.picture? %>
                      <%= image_tag current_user.picture_url%>
                    <% else %>
                      <img src="/assets/dashboard/default.jpg" />
                    <% end %>
                  </div>
                  <div class="main-details clearfix">
                      <div class="col">
                          <div class="value">118</div>
                          Friends
                      </div>
                      <div class="col">
                          <div class="value">122</div>
                          Followers
                      </div>

                  </div>
                  <div class="main-details clearfix">
                      <div class="col">
                          <div class="value">11</div>
                          Pending Requests
                      </div>
                      <div class="col">
                          <div class="value">45</div>
                          Notifications
                      </div>

                  </div>
                  <div class="details">
                      <div class="field">
                          <label>Email</label>
                          <div class="value"><%= current_user.email %></div>
                          <div class="sub">Home</div>
                      </div>
                      <div class="field">
                          <label>Phone</label>
                          <div class="value"><%= current_user.phone %></div>
                      </div>
                      <div class="field">
                          <label>Address</label>
                          <div class="value">
                            <%= current_user.full_address %>
                          </div>
                      </div>
                  </div>

              </div>
    <div class="visible-xs popup-injury page-title ">
      <p class="col-xs-4" >Claim Is: <span  style="font-weight:600;">Open</span> <i class="glyphicon glyphicon-pencil claim-pencil"></i></p>
                  <p class="col-xs-4">Status: <span  style="font-weight:600;">Approved</span> <i class="glyphicon glyphicon-pencil status-pencil"></i></p>
                  <p class="col-xs-4">OSHA Recordable? <span  style="font-weight:600;">Yes</span> <i class="glyphicon glyphicon-pencil osha-pencil"></i></p>
    </div>
              <div class="profile-content">
                  <div class="tabs">
                      <ul>
                          <li>
                              <a href="#" class="active">Details</a>
                          </li>
                          <li>
                              <a href="#">Activity Notes</a>
                          </li>
                          <li>
                              <a href="#">Reports & Appointments</a>
                          </li>
                          <li>
                              <a href="#">Emails</a>
                          </li>
                          <li>
                              <a href="#" class="addreporttab">Add Report</a>
                          </li>                            
                      </ul>
                  </div>

                  <div class="tab-content">
                      <div class="tab details active">
                          <div class="alert-box">
                              <div class="alert alert-info" style="display: block;">
                      <a href="#" class="close" data-dismiss="alert">X</a>
                      <strong>Tom kelly - </strong>  Accident report has not been completed yet.
                    </div>
                              <div class="alert alert-info" style="display: block;">
                      <a href="#" class="close" data-dismiss="alert">X</a>
                      <strong>John Mash - </strong> Off light duty immediately.
                    </div>
                          </div>                          
                          <div class="details-box">
                              <form id="new-customer" class="form-horizontal" method="post" action="#" role="form">
                              <div class="row">
                                  <div class="col-xs-6">
                                      <label><input type="checkbox">Light Duty Offered</label>
                                  </div>
                                  <div class="col-xs-6">
                                      <label><input type="checkbox" id="off-work">Completely off work</label>
                                  </div>  
                                  <div class="form-group complete-work">
                            <label class="col-sm-12 col-md-12 text-left control-label">Off Date Work</label>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                              
                                          <input type='text' data-provide="datepicker" class="form-control" id='datetimepicker4' />
                                      
                            </div>
                          </div>
                                  <div class="col-xs-6">
                                      <label><input type="checkbox">Has Attorney</label>
                                  </div>
                                  <div class="col-xs-6">
                                      <label><input type="checkbox">Receving ttd  </label>
                                  </div>
                                  <div class="form-group">
                            <label class="col-sm-12 col-md-12 control-label">Branch/Location</label>
                            <div class="show-options col-sm-12 col-md-12">
                            <div id="dropdown-branch" class="dropdown">
                                <a class="button" data-toggle="dropdown" href="#">
                                  <span>
                                    Bellwood
                                  </span>
                                                  <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                  <li><a >Bellwood</a></li>
                                <li><a >NY</a></li>
                                <li><a >Bellwood</a></li>
                                </ul>
                            </div>
                          </div>
                          </div>
                                  <div class="form-group">
                            <label class="col-sm-12 col-md-12 control-label">Light Duty Site</label>
                            <div class="col-sm-12 col-md-12">
                              <input type="text" class="form-control" name="customer[first_name]">
                            </div>
                          </div>
                                  <div class="form-group ">
                            <label for="inputPassword3 control-label" class="col-sm-12 col-md-12 control-label">Medical Clinics/Specialists</label>
                            <div class="col-xs-11 col-md-11">
                                <div class="select2-container select2-container-multi" id="s2id_customer-tags" style="width: 100%;"><ul class="select2-choices">  <li class="select2-search-choice">    <div>client</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>developer</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>lead</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" style="width: 34px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="hidden" id="customer-tags" style="width:100%" value="client,developer,lead" name="customer[tags]" tabindex="-1" class="select2-offscreen">
                                          
                            </div>
                                      <div class="col-xs-1 col-md-1 add-clinic" id="add-clinic">+</div>
                          </div>
                                  <div class="form-group ">
                            <label for="inputPassword3 control-label" class="col-sm-12 col-md-12 control-label">Attorney Info</label>
                            <div class="col-xs-11 col-md-11">
                                <div class="select2-container select2-container-multi" id="s2id_customer-tags" style="width: 100%;"><ul class="select2-choices">  <li class="select2-search-choice">    <div>client</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>developer</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>lead</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" style="width: 34px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="hidden" id="customer-tags" style="width:100%" value="client,developer,lead" name="customer[tags]" tabindex="-1" class="select2-offscreen">
                                          
                            </div>
                                      <div class="col-xs-1 col-md-1 add-clinic" id="add-attorney">+</div>
                          </div>
                                  <div class="form-group ">
                            <label for="inputPassword3 control-label" class="col-sm-12 col-md-12 control-label">Client Site</label>
                            <div class="col-xs-11 col-md-11">
                                <div class="select2-container select2-container-multi" id="s2id_customer-tags" style="width: 100%;"><ul class="select2-choices">  <li class="select2-search-choice">    <div>client</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>developer</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-choice">    <div>lead</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen1" style="width: 34px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   </ul></div></div><input type="hidden" id="customer-tags" style="width:100%" value="client,developer,lead" name="customer[tags]" tabindex="-1" class="select2-offscreen">
                                          
                            </div>
                                      <div class="col-xs-1 col-md-1 add-clinic" id="add-clientsite">+</div>
                          </div>
                              </div>
      
                              </form>
                          </div>
                             
                      </div>
                      <div class="tab notes">
        <form>
          <div class="editor clearfix">
            <textarea class="form-control" rows="4" placeholder="Enter a new note..."></textarea>

            <div class="options clearfix">
              <button class="button" type="submit">
                <span>Submit note</span>
              </button>
              <div class="attach">
                <a href="#" data-toggle="tooltip" title="" data-original-title="Add location">
                  <i class="ion-location"></i>
                </a>
                <a href="#" data-toggle="tooltip" title="" data-original-title="Add files">
                  <i class="ion-paperclip"></i>
                </a>
                <a href="#" data-toggle="tooltip" title="" data-original-title="Add a photo">
                  <i class="ion-camera"></i>
                </a>
              </div>
            </div>
          </div>
        </form>

        <div class="filter clearfix">
          <h4 class="pull-left">Recent Notes</h4>

          <form class="pull-right">
            <div class="fake-select-wrap"><select data-smart-select="">
              <option>Sort by...</option>
              <option>Date</option>
              <option>User</option>
              <option>Attachments</option>
            </select></div>
          </form>
        </div>

        <div class="comments">
          <div class="row comment">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10">
              <div class="message clearfix">
                <header>
                  <span class="name">John Arnold</span>
                  <span class="date pull-right">2h ago</span>
                </header>
                <div class="note">
                  <p>
                    I love making the stuff, that’s sort of the core of it. I love creating the stuff. It’s so satisfying to get from the beginning to the end, from a shaky nothing idea to something that’s well formed and the audience really likes.
                  </p>
                  <p>
                    You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art: apprentice, journeyman, master. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row comment">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10">
              <div class="message clearfix">
                <header>
                  <span class="name">Jamie Lannister</span>
                  <span class="date pull-right">6h ago</span>
                </header>
                <div class="note">
                  <p>
                    Functionality is so over-valued in design, and we’ve kept design very small in that way. Functionality is the sheer minimum. If your house burns down, what do you take? The cat in the window that you got from your mother, or the chair you have?
                  </p>                  
                </div>
              </div>
            </div>
          </div>
          <div class="row comment">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10">
              <div class="message clearfix">
                <header>
                  <span class="name">Karen Stark</span>
                  <span class="date pull-right">1 day ago</span>
                </header>
                <div class="note">
                  <p>
                    You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art: apprentice, journeyman, master. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row comment">
            <div class="col-sm-2">
              
            </div>
            <div class="col-sm-10">
              <div class="message clearfix">
                <header>
                  <span class="name">John Williams</span>
                  <span class="date pull-right">3 days ago</span>
                </header>
                <div class="note">
                  <p>
                    I love making the stuff, that’s sort of the core of it. I love creating the stuff. It’s so satisfying to get from the beginning to the end, from a shaky nothing idea to something that’s well formed and the audience really likes. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="load-more">
          <a href="#" class="btn btn-default">Load more comments</a>
        </div>
      </div>
                      <div class="tab orders report">
                          <table id="datatable-example" class="table-hover">
                              <thead>
                                  <tr>
                                      <th tabindex="0" rowspan="1" colspan="1">Title
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Type
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">File
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Date
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Billed Amount
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          <a href="#">Work Status</a>
                                      </td>
                                      <td>Report</td>
                                      <td><div class="btn-file">
                                              Upload file <input type="file" id="uploadFile">
                                          </div></td>
                                      <td>2/3/2015</td>
                                      <td><a href="#"></a></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="#">Jane</a>
                                      </td>
                                      <td>Accident report</td>
                                      <td><a href="report-preview.html" target="_blank">Preview</a></td>
                                      <td>2/3/2015</td>
                                      <td><a class="currency" href="#">$$$</a></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="#">Work Status</a>
                                      </td>
                                      <td>Report</td>
                                      <td><div class="btn-file">
                                              Upload file <input type="file" id="uploadFile">
                                          </div></td>
                                      <td>2/3/2015</td>
                                      <td><a class="currency" href="#">$$$</a></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="#">Jane</a>
                                      </td>
                                      <td>Accident report</td>
                                      <td><a href="report-preview.html" target="_blank">Preview</a></td>
                                      <td>2/3/2015</td>
                                      <td><a class="currency" href="#">$$$</a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="tab orders emails">
                          <button type="button" class="btn btn-primary" id="send-email" data-toggle="modal" data-target="#contact-popup">Email Accident Report</button>
                          <button type="button" class="btn btn-primary fr addreport-btn" data-toggle="modal" data-target="#contact-popup">Add Report</button>
                          <div class="inbox-box">
                              
                              <table id="datatable-example" class="table-hover">
                              <thead>
                                  <tr>
                                      <th tabindex="0" rowspan="1" colspan="1">
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Subject
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Email
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Time
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Attachment
                                      </th>
                                      <th tabindex="0" rowspan="1" colspan="1">Add Tag
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          <input type="checkbox">
                                      </td>
                                      <td>
                                          John Doe Missed Appointment
                                      </td>
                                      <td>John Doe Missed his follow up</td>
                                      <td>2/3/2015 3:27 PM</td>
                                      <td>2/3/2015</td>
                                      <td><i class="glyphicon glyphicon-pencil email-pencil"></i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <input type="checkbox">
                                      </td>
                                      <td>
                                          John Doe Missed Appointment
                                      </td>
                                      <td>John Doe Missed his follow up</td>
                                      <td>2/3/2015 3:27 PM</td>
                                      <td>2/3/2015</td>
                                      <td><i class="glyphicon glyphicon-pencil email-pencil"></i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <input type="checkbox">
                                      </td>
                                      <td>
                                          John Doe Missed Appointment
                                      </td>
                                      <td>John Doe Missed his follow up</td>
                                      <td>2/3/2015 3:27 PM</td>
                                      <td>2/3/2015</td>
                                      <td><i class="glyphicon glyphicon-pencil email-pencil"></i></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <input type="checkbox">
                                      </td>
                                      <td>
                                          John Doe Missed Appointment
                                      </td>
                                      <td>John Doe Missed his follow up</td>
                                      <td>2/3/2015 3:27 PM</td>
                                      <td>2/3/2015</td>
                                      <td><i class="glyphicon glyphicon-pencil email-pencil"></i></td>
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                          
                      </div>
                      <div class="tab orders addreport ">

                          <div class="addreportbox">
                              <div class="accreportbox">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Add Accident Report 
                              </div>
                            </div>
                                  <div class="content-wrapper add-accident-report clinic-popup">
                                   
                            </div>
                              </div>
                              <div class="light-duty-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Initial visit - Light Duty From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="off-work-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Initial visit - Off Work From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="full-duty-release-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Initial visit - Full Duty Release From  
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="full-duty-box">
                                  <div class="menubar">
                              <div class="">
                                <i class="ion-navicon"></i>
                              </div>

                              <div class="page-title">
                                Follow up visit - Full Duty Release From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
        
</div>
                              </div>
                              <div class="follow-scheduled-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Follow up visit - Follow up scheduled from 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="for-pt-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Referred - For PT From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="for-mri-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Referred - MRI Form 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="specialist-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Referred - Specialist From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
       
</div>
                              </div>
                              <div class="surgery-box">
                                  <div class="menubar">
                              

                              <div class="page-title">
                                Referred - Surgery From 
                              </div>
                            </div>
                                  <div class="content-wrapper light-duty add-accident-report clinic-popup">
          
</div>
                              </div>
                          </div>
                          
                         </div>
                      </div>

                  </div>
              </div><!--content-wrapper -->
</div>
      
</div><!--#content -->
