<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>Connecting Dhakad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "dashboard", :media => "all" %>
    <%= javascript_include_tag "dashboard" %>
    
  </head>
  <body>
    <div id="wrapper">    
      <div id="sidebar-default" class="main-sidebar">
        <div class="current-user">
          <a href="index.html" class="home"><i class="fa fa-home"></i></a>
          <a href="help.html" class="help">Help</a>
          <a href="account-profile.html" class="name">Account <i class="fa fa-chevron-down"></i></a>
          <ul class="menu">
            <li><a href="account-profile.html">Account settings</a></li>
            <li><a href="account-billing.html">Billing</a></li>
            <li><a href="invite-users.html">Invite User</a></li>
            <li><a href="account-notifications.html">Notifications</a></li>
            <li><a href="account-support.html">Help / Support</a></li>
            <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
          </ul>
        </div>
        <div class="inner-sidebar">
          <div class="menu-section">
            <h3>General</h3>
            <ul>
              <li>
                <a href="company-dashboard.html">
                  <i class="ion-android-earth"></i> 
                  <span>Company Dashboard</span>
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="clients.html">
                  <i class="ion-person-stalker"></i> 
                  <span>All Friends</span>
                </a>
              </li>          
            </ul>
            <ul>
              <li>
                <a href="index.html">
                  <i class="glyphicon glyphicon-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu-section">
            <h3>Injury Management</h3>
            <ul>
              <li>
                <a href="account.html" class="toggled" data-toggle="sidebar" >
                  <i class="fa fa-ambulance"></i><span>Injuries</span>
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu" style="display:block">
                  <li><a href="<%= search_user_dashboards_path %>">Search User</a></li>
                  <li><a href="injury-profile.html">Injury Profile</a></li>
                  <li><a href="#">All Transactions</a></li>
                  <li><a href="reports.html">Reports</a></li>
                  <li><a href="preferences.html">Preferences</a></li>
                </ul>
              </li>
              <li>
                <a href="account.html" data-toggle="sidebar">
                  <i class="fa fa-envelope"></i> <span>Mailbox</span>
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                  <li><a href="inbox-mail.html">Inbox</a></li>
                  <li><a href="email-templates.html">Email templates</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- end inner-sidebar -->
        <div class="bottom-menu hidden-sm">
          <ul>
            <li><a href="account-support.html"><i class="ion-help"></i></a></li>
            <li>
              <a href="inbox-mail.html">
                <i class="ion-archive"></i>
                <span class="flag"></span>
              </a>
              <ul class="menu">
                <li><a href="#">5 unread messages</a></li>
                <li><a href="#">12 tasks completed</a></li>
              </ul>
            </li>
            <li><a href="signup.html"><i class="ion-log-out"></i></a></li>
          </ul>
        </div>
      </div><!--main-sidebar-->
      <%= yield %>
    </div><!--#wrapper -->
  </body>
</html>